/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-mar-2018, 21:32:24
    Author     : Augusto
*/

body {
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;

}

.mensaje {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 450px;
    margin: 100px auto 10px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h3 {
    font-size: 13px;
    text-align: center;
}

.mensaje h2 {
    font-size: 17px;
}