/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-mar-2018, 0:09:48
    Author     : Augusto
*/

html, body {
    margin: 0;
    padding: 0;
}

.banner {
    background: #76b852;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-top: 0;
}

.title {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #76b852;
    letter-spacing: .1em;
}


.nuevotema-form {
    margin-top: 5%;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 1px 45px 70px 45px;    
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.nuevotema-form input {
    width: 100%;
    margin: 3px 0;
}


.nuevotema-form textarea {
    width: 100%;
}


.button-creartema {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 45%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 9%;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.button-cancelar {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FF0000;
    width: 39%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 9%;
    position: absolute;
    bottom: 20px;
}

.p-materia {
    text-align: left;
    font-weight: bold;
}

.asignar{
    font-size: 20px;
    font-weight: 100;
}

.alinea-izq{
    text-align: left;
    margin: 20px 0 5px;
}

i{

}